import spacy
import streamlit as st
from spacy.matcher import Matcher
import pdfplumber
import re
import torch
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer
from transformers import BartTokenizer, BartForConditionalGeneration
